@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --color-primary: #5f6FFF;
  /* --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af; */
}


.active hr {
  
  @apply block
}

::-webkit-scrollbar {
  @apply hidden
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
